<section class="no-top small-bottom">
	<div class="container">
		<div class="text-center">
		    <span class="step-links">
		        {% if page_obj.has_previous %}
		            <a href="?page={{ page_obj.previous_page_number }}"><span class="glyphicon glyphicon-arrow-left"></span></a>
		        {% endif %}

		        <span class="current">
		            Page {{ page_obj.number }} from {{ page_obj.paginator.num_pages }}
		        </span>

		        {% if page_obj.has_next %}
		            <a href="?page={{ page_obj.next_page_number }}"><span class="glyphicon glyphicon-arrow-right"></span></a>
		        {% endif %}
		    </span>
		</div>
</section>
